<div class="row-fluid">
	    <% @messages.each do |message| %>
       		
		 
                  <div class = "favoritem"> <%= message.contacts %> <%= message.body %> </div>
               
           <% end %>
	  </div
