<style>
  .comment {
	margin-bottom:20px;
}
</style>

<div class="row-fluid">
<h4> Comments: </h4>
       <% @diary.comments.each do |comment| %>
  	<div class="comment">
              <div class="span1"><% comm = comment.commenter %>
    		<strong><%= comm[0..1] + "*" + comm[(comm.size - 1)..comm.size] %>:</strong>
  	      </div>
    	     <%= comment.body %>
         </div>
      <% end %>

</div><!-- /row-->
