// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contact-body{
	background-image: image-url("starry.jpg");/*
	background-image: asset-url("logo.png", image);
	background-image: asset-url($asset, $asset-type);*/
}
